body {
    background-color: #282a36;
    font-family: Arial;
    color: #bd93f9;
}

#content {
    position:absolute;
    background-color: #44475a;
    border-radius: 5px;
    text-align:center;
    width: 60%;
    height: 80%;
    margin-left: 20%;
    margin-right: 20%;
}

#header {
    position:sticky;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}