body { color: #777777; background-color: black; }
.ctl { float: left; width: auto; margin:5px; border:2px; padding:5px}
.clear { clear: both}
.others { font-size: 60%; font-family: sans-serif}
.memories { font-size: 80%; font-family: sans-serif}
.scale{position:relative;}
.scaleabs{position:absolute;}
#edgelower:hover {background:url('edgelowerbb.png');}
#edgeupper:hover {background:url('edgeupperbb.png');}
#yellowbarr {background-color:yellow; top:2px; height:1px}
#yellowbara:hover #yellowbarr {top:2px; height:2px}
.hideblind { display:inline; }
.showblind { display:none; }
.statinfo0 { float:left; white-space:nowrap; position:relative; border-width:1px;border-style:solid;border-color:#ffc080; background-color:#cc8040;color:black;font-size:12px; }
.statinfo1 { float:left; position:relative; border-left-width:0px;border-right-width:2px;border-top-width:0px;border-bottom-width:2px;border-style:solid;border-color:black; }
.statinfo1:hover { z-index:98; }
.statinfo2 { overflow:hidden; border-width:0px; border-left-width:2px; border-style:solid; border-color:black;position:absolute; }
.statinfo2:hover { overflow:visible; }
.statinfol { background-color:#ffc080; }
.statinfo0l { float:left; white-space:nowrap; position:relative; border-width:1px;border-style:solid;border-color:#80ffc0; background-color:#40cc80;color:black;font-size:12px; }
.statinfo1l { float:left; position:relative; border-left-width:0px;border-right-width:2px;border-top-width:0px;border-bottom-width:2px;border-style:solid;border-color:black; }
.statinfo1l:hover { z-index:98; }
.statinfo2l { overflow:hidden; border-width:0px; border-left-width:2px; border-style:solid; border-color:black;position:absolute; }
.statinfo2l:hover { overflow:visible; }
.statinfoll { background-color:#80ffc0; }
input:not(:checked) + .keylist { display: none; }
input:checked + .keylist { display: block; }
.warning { color:red; font-weight:bold; border:2px; border-style:solid; border-color:black; background-color:white; margin:8px; padding:4px; display:none;  }

.tabmenu
{
	width: 100%;
	position: relative;
	margin: 5px;
}

.tab_top_active
{
	float: left;
	border-style: solid;
	border-width: 1px;
	background-color: #333333; 
	margin-bottom: -1px;
	margin-right: -1px;
	border-color: #000000;
	color: #000000;
	font-weight: bold;
	font-family: calibri;
	padding: 5px;
	cursor: pointer;
}

.tab_top_passive
{
	float: left;
	border-style: solid;
	border-width: 1px; 
	background-color: #333333;
	margin-bottom: -1px;
	margin-right: -1px;
	border-color: #808080;
	color: #808080;
	font-family: calibri;
	padding: 5px;
	cursor: pointer;
}

.tab_box
{
	float: left;
	border-style: solid;
	border-width: 1px; 
	background-color: #333333;
	border-color: #000000;
	width: 100%;
	height: 100%;
}

.design1 {
  background-color: white;
  color: black;
}

.design2 {
  background-color: black;
  color: #00ff00;
}

.design2 th, .design2 td {
  border-color: red; /* Grenzfarbe für Zellen und Tabellenkopf */
}

.design3 {
  background-color: gray;
  color: orange;
  border-color: black;
}

.highperf  {
  font-weight: bold;
}

.btn  {
  text-align: center;
}

.sdr1  {
  background-color: #FFEE55;
}

.sdr2  {
  background-color: #A0FFA0;
}

.sdr3  {
  background-color: #AACCFF;
}

.sdr4  {
   background-color: #EFCAF7;
}

.sdr5  {
   background-color: #03947C; color:#EEEEEE;
}

.slcmon  {
   background-color: #FFBEAD;
}

.defaultrcvbw   {
   font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  display:  inline-block;
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: left;
  padding: 4px;
  margin: 4px;
  border-radius: 6px;
  border-color:  black;
  border-style:  double;
  word-wrap:  break-word;
  position: absolute;
  box-sizing: content-box;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.main {
  background-color: #000000;
}

.zentriert {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
}